@import '../theme';

.gu-panel {
  border-radius: 15px;
  max-width: 75%;
}

.gu-panel-header {
  border-radius: 15px 15px 0 0;
  background-color: gray;
  padding: 20px;
  width: 100%;
}

.gu-panel-body {
  padding: 20px;
}

.gu-panel-body-with-header {
  width: 100%;
  border-radius: 0 0 15px 15px;
  padding: 20px;
}

.gu-panel-header-light {
  background-color: $gu-bg-light-2;
}

.gu-panel-light {
  background-color: $gu-bg-light-1;
  color: $gu-text-light-1;
}

.gu-panel-dark {
  background-color: $gu-bg-dark-1;
  color: $gu-text-dark-1;
}
